.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(109, 109, 109);

}

nav ul{
  display: flex;
  list-style: none;
 
}

nav ul li{
  text-align: center;
  margin-right: 2rem;
  color: white;
  font-size: 2rem;
}

nav ul li:hover{
  color: rgb(114, 139, 167);
}









.App-link {
  color: #61dafb;
}

